{% extends 'base.html.twig' %}

{% block body %}

    <h1>Un blog de toute beauté</h1>

    <p>Laboris labore consectetur voluptate elit aliqua qui dolore magna nulla Lorem ut nulla ut sint.
    Incididunt amet commodo nulla sunt sunt anim irure cillum quis reprehenderit non anim excepteur nulla.
    Laboris quis laborum deserunt adipisicing duis magna dolore duis ex officia laborum quis adipisicing.
    Incididunt sint exercitation minim adipisicing.
    </p>
    
{% endblock %}